.textcenter{text-align: center;}
.textleft{text-align: left;}
.container {  
    size: unset; 
    display: flex;  
    justify-content: center;  
    align-items: center;  
    }  
    button {  
    background-color: lightblue;  
    color: black;  
    font-size: 25px;  
    }  
#increment-btn{
        background: darkred;
}